<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuweilai.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.yuweilai.entity.Student">
    <id column="STU_ID" jdbcType="VARCHAR" property="stuId" />
    <result column="GRADE" jdbcType="VARCHAR" property="grade" />
    <result column="CALL_NAME" jdbcType="VARCHAR" property="callName" />
    <result column="TIME" jdbcType="VARCHAR" property="time" />
    <result column="COURSE" jdbcType="VARCHAR" property="course" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SCHOOL" jdbcType="VARCHAR" property="school" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="FEATURE" jdbcType="VARCHAR" property="feature" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    STU_ID, GRADE, CALL_NAME, TIME, COURSE, NAME, SCHOOL, PHONE, FEATURE
  </sql>
  <select id="selectByExample" parameterType="com.yuweilai.entity.StudentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where STU_ID = #{stuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from student
    where STU_ID = #{stuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yuweilai.entity.StudentExample">
    delete from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yuweilai.entity.Student">
    insert into student (STU_ID, GRADE, CALL_NAME, 
      TIME, COURSE, NAME, 
      SCHOOL, PHONE, FEATURE
      )
    values (#{stuId,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{callName,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR}, #{course,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yuweilai.entity.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        STU_ID,
      </if>
      <if test="grade != null">
        GRADE,
      </if>
      <if test="callName != null">
        CALL_NAME,
      </if>
      <if test="time != null">
        TIME,
      </if>
      <if test="course != null">
        COURSE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="school != null">
        SCHOOL,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="feature != null">
        FEATURE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="callName != null">
        #{callName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="course != null">
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yuweilai.entity.StudentExample" resultType="java.lang.Long">
    select count(*) from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update student
    <set>
      <if test="record.stuId != null">
        STU_ID = #{record.stuId,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null">
        GRADE = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.callName != null">
        CALL_NAME = #{record.callName,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        TIME = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.course != null">
        COURSE = #{record.course,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.school != null">
        SCHOOL = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.feature != null">
        FEATURE = #{record.feature,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update student
    set STU_ID = #{record.stuId,jdbcType=VARCHAR},
      GRADE = #{record.grade,jdbcType=VARCHAR},
      CALL_NAME = #{record.callName,jdbcType=VARCHAR},
      TIME = #{record.time,jdbcType=VARCHAR},
      COURSE = #{record.course,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      SCHOOL = #{record.school,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      FEATURE = #{record.feature,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuweilai.entity.Student">
    update student
    <set>
      <if test="grade != null">
        GRADE = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="callName != null">
        CALL_NAME = #{callName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        TIME = #{time,jdbcType=VARCHAR},
      </if>
      <if test="course != null">
        COURSE = #{course,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        SCHOOL = #{school,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="feature != null">
        FEATURE = #{feature,jdbcType=VARCHAR},
      </if>
    </set>
    where STU_ID = #{stuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuweilai.entity.Student">
    update student
    set GRADE = #{grade,jdbcType=VARCHAR},
      CALL_NAME = #{callName,jdbcType=VARCHAR},
      TIME = #{time,jdbcType=VARCHAR},
      COURSE = #{course,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SCHOOL = #{school,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      FEATURE = #{feature,jdbcType=VARCHAR}
    where STU_ID = #{stuId,jdbcType=VARCHAR}
  </update>
</mapper>